<!--
    Stratumn Agent User Interface
    Copyright (C) 2016  Stratumn SAS

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    The presentation and each element of the Stratumn Agent User Interface
    including trademarks, logos, photographs, domain names, any graphical
    element belong exclusively to Stratumn or its licensors and are
    protection by intellectual property laws.
-->

{{#if maps.length}}
  {{#paper-list}}
    {{#each maps as |mapId|}}
      {{#paper-item onClick=(action "onClickMap" mapId)}}
        <p>
          <samp class="hide show-md show-lg">{{mapId}}</samp>
          <samp class="hide-gt-sm">{{short-hash mapId}}</samp>
        </p>
        {{#paper-button class="md-secondary" onClick=(action "onClickViewMapSegments" mapId)}}
          View segments
        {{/paper-button}}
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
  {{#paper-content class="md-padding"}}
    {{#paper-button disabled=hasNoMore onClick=(action "onLoadMore")}}Load more{{/paper-button}}
  {{/paper-content}}
{{else}}
  {{#paper-content class="md-padding"}}
    <h2>Nothing to see here</h2>
    <p>You don"t have any maps at this point. Create one to get started.</p>
  {{/paper-content}}
{{/if}}
