<ul class="list-group">
  {{#each maps as |map|}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6">{{map}}</div>
      <div class="col-md-6 text-md-right">
        <a class="btn btn-secondary btn-sm" href="segments.html">View segments</a>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
