<!--
  Copyright 2017 Stratumn SAS. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

{{#if maps.length}}
  {{#paper-list}}
    {{#each maps as |mapId|}}
      {{#paper-item onClick=(action "onClickMap" mapId)}}
        <p>
          <samp class="hide show-md show-lg">{{mapId}}</samp>
          <samp class="hide-gt-sm">{{short-hash mapId}}</samp>
        </p>
        {{#paper-button class="md-secondary" onClick=(action "onClickViewMapSegments" mapId)}}
          View segments
        {{/paper-button}}
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
  {{#paper-content class="md-padding"}}
    {{#paper-button disabled=hasNoMore onClick=(action "onLoadMore")}}Load more{{/paper-button}}
  {{/paper-content}}
{{else}}
  {{#paper-content class="md-padding"}}
    <h2>Nothing to see here</h2>
    <p>You don't have any maps at this point. Create one to get started.</p>
  {{/paper-content}}
{{/if}}
