<h4>Create map</h4>
<p><small class="text-muted">This will call the <sampl>init()</sampl> action of your agent to create the first segment of a new map.</small></p>
<form class="m-t-2">
  {{#each args as |arg|}}
  <div class="form-group row">
    <label for="{{arg.name}}" class="col-sm-5 form-control-label">{{arg.name}}</label>
    <div class="col-sm-7">
      {{input type="text" class="form-control" id=arg.name placeholder="value" value=arg.value}}
    </div>
  </div>
  {{/each}}
  <div class="form-group row">
    <div class="col-sm-offset-5 col-sm-7">
      <button type="submit" class="btn btn-primary" {{action "createMap"}}>Submit</button>
    </div>
  </div>
</form>
