<h5>Filter</h5>
<form class="m-t-2">
  <div class="form-group row">
    <label for="map" class="col-sm-5 form-control-label">Map ID</label>
    <div class="col-sm-7">
      {{input type="text" class="form-control" id="map" placeholder="value" value=map}}
    </div>
  </div>
  <div class="form-group row">
    <label for="prev" class="col-sm-5 form-control-label">Previous link hash</label>
    <div class="col-sm-7">
      {{input type="text" class="form-control" id="prev" placeholder="value" value=prev}}
    </div>
  </div>
  <div class="form-group row">
    <label for="tags" class="col-sm-5 form-control-label">Tags</label>
    <div class="col-sm-7">
      {{input type="text" class="form-control" id="tags" placeholder="value" value=tags}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-5 col-sm-7">
      <button type="submit" class="btn btn-primary" {{action "updateFilter"}}>Submit</button>
    </div>
  </div>
</form>
