<!--
    Copyright (C) 2017  Stratumn SAS

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

{{#paper-form onSubmit=(action "onSubmit") as |form|}}
  {{#paper-content class="md-padding"}}
    <div class="layout-row">
      {{paper-input
        class="layout-column flex-25"
        label="Map ID"
        value=mapId
        onChange=(action (mut mapId))
      }}
      {{paper-input
        class="layout-column flex-25"
        label="Prev link hash"
        value=prevLinkHash
        onChange=(action (mut prevLinkHash))
        customValidations=validateLinkHash
      }}
      {{paper-input
        class="layout-column flex-25"
        label="Tags"
        value=tags
        onChange=(action (mut tags))
      }}
        {{#paper-button
          class="layout-column flex-15"
          type="submit"
          primary=true
          disabled=form.isInvalid
        }}
          Filter
        {{/paper-button}}
        {{#paper-button
          class="layout-column flex-10"
          iconButton=true
          onClick=(action "reset")
        }}
          {{paper-icon "clear"}}
        {{/paper-button}}
    </div>
  {{/paper-content}}
{{/paper-form}}
