<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{#link-to 'segments' (query-params map=segment.link.meta.mapId) class="nav-link"}}View map segments{{/link-to}}
    </li>
    <li class="list-group-item">
      {{#link-to 'segments' (query-params prev=segment.meta.linkHash) class="nav-link"}}View branches{{/link-to}}
    </li>
    {{#if segment.link.meta.prevLinkHash}}
    {{#link-to 'segment' segment.link.meta.prevLinkHash class="nav-link"}}View previous segment{{/link-to}}
    {{/if}}
  </ul>
</div>
