<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Quick links
  </button>
  <div class="dropdown-menu">
    {{#link-to 'segments' (query-params map=segment.link.meta.mapId) class="dropdown-item"}}View map segments{{/link-to}}
    {{#link-to 'segments' (query-params prev=segment.meta.linkHash) class="dropdown-item"}}View branches{{/link-to}}
    {{#if segment.link.meta.prevLinkHash}}
      {{#link-to 'segment' segment.link.meta.prevLinkHash class="dropdown-item"}}View previous segment{{/link-to}}
    {{/if}}
  </div>
</div>
