<ul class="list-group">
  {{#each segments as |segment|}}
  <li class="list-group-item">
    <samp>{{#link-to 'segment' segment.meta.linkHash}}{{segment.meta.linkHash}}{{/link-to}}</samp>
  </li>
  {{/each}}
</ul>