<!--
    Stratumn Agent User Interface
    Copyright (C) 2016  Stratumn SAS

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    The presentation and each element of the Stratumn Agent User Interface
    including trademarks, logos, photographs, domain names, any graphical
    element belong exclusively to Stratumn or its licensors and are
    protection by intellectual property laws.
-->

{{#paper-dialog clickOutsideToClose=true onClose=(action "onClose")}}

  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <h2>More</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "onClose")}}
        {{paper-icon icon="close"}}
      {{/paper-button}}
    </div>
  {{/paper-toolbar}}

  {{#paper-list}}
    {{#link-to "map-explorer" segment.link.meta.mapId}}
      {{#paper-item}}Navigate to map explorer{{/paper-item}}
    {{/link-to}}
    {{#link-to "segments" (query-params mapId=segment.link.meta.mapId)}}
      {{#paper-item}}Navigate to map segments{{/paper-item}}
    {{/link-to}}
    {{#link-to "segments" (query-params prevLinkHash=segment.meta.linkHash)}}
      {{#paper-item }}Navigate to branches{{/paper-item}}
    {{/link-to}}
    {{#if segment.link.meta.prevLinkHash}}
      {{#link-to "segment" segment.link.meta.prevLinkHash}}
        {{#paper-item}}Navigate to previous segment{{/paper-item}}
      {{/link-to}}
    {{/if}}
  {{/paper-list}}

{{/paper-dialog}}
