{{#paper-dialog clickOutsideToClose=true onClose=(action "onClose")}}

  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <h2>More</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "onClose")}}
        {{paper-icon icon="close"}}
      {{/paper-button}}
    </div>
  {{/paper-toolbar}}

  {{#paper-list}}
    {{#link-to "segments" (query-params map=segment.link.meta.mapId)}}
      {{#paper-item}}Navigate to map segments{{/paper-item}}
    {{/link-to}}
    {{#link-to "segments" (query-params prev=segment.meta.linkHash)}}
      {{#paper-item }}Navigate to branches{{/paper-item}}
    {{/link-to}}
    {{#if segment.link.meta.prevLinkHash}}
      {{#link-to "segment" segment.link.meta.prevLinkHash}}
        {{#paper-item}}Navigate to previous segment{{/paper-item}}
      {{/link-to}}
    {{/if}}
  {{/paper-list}}

{{/paper-dialog}}
