<!--
  Copyright 2017 Stratumn SAS. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

{{#paper-dialog clickOutsideToClose=true onClose=(action "onClose")}}

  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <h2>More</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "onClose")}}
        {{paper-icon icon="close"}}
      {{/paper-button}}
    </div>
  {{/paper-toolbar}}

  {{#paper-list}}
    {{#link-to "map-explorer" segment.link.meta.mapId}}
      {{#paper-item}}Navigate to map explorer{{/paper-item}}
    {{/link-to}}
    {{#link-to "segments" (query-params mapId=segment.link.meta.mapId)}}
      {{#paper-item}}Navigate to map segments{{/paper-item}}
    {{/link-to}}
    {{#link-to "segments" (query-params prevLinkHash=segment.meta.linkHash)}}
      {{#paper-item }}Navigate to branches{{/paper-item}}
    {{/link-to}}
    {{#if segment.link.meta.prevLinkHash}}
      {{#link-to "segment" segment.link.meta.prevLinkHash}}
        {{#paper-item}}Navigate to previous segment{{/paper-item}}
      {{/link-to}}
    {{/if}}
  {{/paper-list}}

{{/paper-dialog}}
