@import "variables";
@import "bootstrap";
@import "github-gist";

.navbar-brand {
	background: url(/assets/images/logo.svg) no-repeat;
	background-size: auto 100%;
	text-indent: -5000px;
	width: 40px;
}
