md-dialog {
  min-width: 320px;
  @media screen and (min-width: 600px) {
    min-width: 480px;
  }
}

md-list-item {
  p {
    color: color($primary, '300');
  }

  &:hover p {
    color: color($primary, '100');
  }
}

md-input-container {
  margin-bottom: 24px;

  label:not(.md-no-float):not(.md-container-ignore), .md-placeholder {
    color: color($foreground-dark, '2');
  }

  .md-errors-spacer {
    min-height: 0;
  }
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.07), 0px 2px 1px -1px rgba(0, 0, 0, 0.06);
}
