<!--
    Stratumn Agent User Interface
    Copyright (C) 2016  Stratumn SAS

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    The presentation and each element of the Stratumn Agent User Interface
    including trademarks, logos, photographs, domain names, any graphical
    element belong exclusively to Stratumn or its licensors and are
    protection by intellectual property laws.
-->

{{#paper-sidenav-container class="site-container inner-sidenav"}}

  {{#paper-sidenav
    class="site-sidenav"
    open=sideNavOpen
    onToggle=(action (mut sideNavOpen))
  }}
    {{#paper-content class="flex layout-column"}}

      {{#paper-toolbar class="logo"}}
        Stratumn Agent UI
      {{/paper-toolbar}}

      {{#paper-list class="flex layout-column"}}
        {{#link-to "index"}}
          {{#paper-item}}Agent info{{/paper-item}}
        {{/link-to}}
        {{#link-to "maps"}}
          {{#paper-item}}Maps{{/paper-item}}
        {{/link-to}}
        {{#link-to "segments"}}
          {{#paper-item}}Segments{{/paper-item}}
        {{/link-to}}
        <span class="flex"></span>
        <a href="http://developer.stratumn.com" target="_blank">
          {{#paper-item}}Developer HUB{{/paper-item}}
        </a>
        <a href="https://github.com/stratumn/agent-ui/issues/new" target="_blank">
          {{#paper-item}}Report issue{{/paper-item}}
        </a>
        {{#link-to "license"}}
          {{#paper-item}}<small>©2016 Stratumn SAS</small>{{/paper-item}}
        {{/link-to}}
      {{/paper-list}}

    {{/paper-content}}
  {{/paper-sidenav}}

  <div class="flex layout-column">
    {{#paper-toolbar class="page-main-toolbar md-whiteframe-1dp"}}
      {{#paper-toolbar-tools}}
        {{#paper-sidenav-toggle class="hide-gt-sm" as |toggleAction|}}
          {{#paper-button class="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        {{outlet "toolbar"}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{outlet}}
  </div>

{{/paper-sidenav-container}}
