<!--
  Copyright 2017 Stratumn SAS. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

{{#paper-sidenav-container class="site-container inner-sidenav"}}

  {{#paper-sidenav
    class="site-sidenav"
    open=sideNavOpen
    onToggle=(action (mut sideNavOpen))
  }}
    {{#paper-content class="flex layout-column"}}

      {{#paper-toolbar class="logo"}}
        {{#link-to "index"}}
        Indigo Agent UI
        {{/link-to}}
      {{/paper-toolbar}}

      {{#paper-list class="flex layout-column"}}

      {{#paper-content}}
      {{outlet "sidenav"}}
      {{/paper-content}}

        <span class="flex"></span>
        <a href="http://indigoframework.com" target="_blank">
          {{#paper-item}}Documentation{{/paper-item}}
        </a>
        <a href="https://github.com/stratumn/agent-ui/issues/new" target="_blank">
          {{#paper-item}}Report issue{{/paper-item}}
        </a>
        {{#link-to "license"}}
          {{#paper-item}}<small>©2017 Stratumn SAS</small>{{/paper-item}}
        {{/link-to}}
      {{/paper-list}}

    {{/paper-content}}
  {{/paper-sidenav}}

  <div class="flex layout-column">
    {{#paper-toolbar class="page-main-toolbar md-whiteframe-1dp md-menu-toolbar"}}
      {{#paper-toolbar-tools}}
        {{#paper-sidenav-toggle class="hide-gt-sm" as |toggleAction|}}
          {{#paper-button class="hide-gt-sm" iconButton=true onClick=(action toggleAction)}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        {{outlet "toolbar"}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{outlet}}
  </div>

{{/paper-sidenav-container}}
