<div class="container m-t-2">
  <div class="row">
    <div class="col-lg-8">
      <h5>Actions</h5>
      <ul>
        {{#each model.actions as |action|}}
        <li><samp>{{action.signature}}</samp></li>
        {{/each}}
      </ul>
      <h5>Store adapter name</h5>
      <p>{{model.storeInfo.adapter.name}}</p>
      <h5>Store adapter version</h5>
      <p>{{model.storeInfo.adapter.version}}</p>
      <h5>Store adapter description</h5>
      <p>{{model.storeInfo.adapter.description}}</p>
    </div>
  </div>
</div>