<!--
    Copyright (C) 2017  Stratumn SAS

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h1>
  <span class="hide show-gt-sm">
    {{#link-to "maps"}}Maps{{/link-to}}
    {{paper-icon icon="chevron-right"}}
  </span>
  <span class="hide show-md show-lg">{{model.mapId}}</span>
  <span class="hide-gt-sm">{{short-hash model.mapId}}</span>
  <span class="flex" />
</h1>

{{#if segment}}
  <span class="flex"></span>
  {{#paper-button onClick=(action "toggleAppendSegmentDialog")}}
    {{paper-icon "add" size=30}}
    &nbsp;
    Append
  {{/paper-button}}
{{/if}}
